<footer class="site-foot">
  <div class="foot-col">
    <span class="wordmark">rastalion<span>.</span>dev</span>
    <span class="mono dim">{{ site.tagline }}</span>
  </div>
  <div class="foot-col">
    <span class="label">Elsewhere</span>
    {%- if site.social.x != "" %}<a href="https://x.com/{{ site.social.x }}">X</a>{% endif %}
    {%- if site.social.linkedin != "" %}<a href="https://www.linkedin.com/in/{{ site.social.linkedin }}">LinkedIn</a>{% endif %}
    {%- if site.social.github != "" %}<a href="https://github.com/{{ site.social.github }}">GitHub</a>{% endif %}
    <a href="{{ '/feed.xml' | relative_url }}">RSS</a>
  </div>
  <div class="foot-col">
    <span class="mono dim">© {{ site.time | date: '%Y' }} {{ site.author }}</span>
  </div>
</footer>
<script src="{{ '/assets/js/theme.js' | relative_url }}" defer></script>
